<div class="m-auto my-8 max-w-md">
  <div class="c-main-area">
    <h3 class="text-2xl inline-flex items-center gap-1 text-zinc-500 hover:text-teal-600 cursor-default transition duration-500">
      <%= render 'shared/svg/cloud' %>
      <span class="font-medium">Registration<b>Area</b></span>
    </h3>
    <hr class="my-4"/>

    <% if flash[:errors] %>
      <div class="bg-red-50 border border-red-200 rounded-md p-4 mb-1">
        <div class="flex">
          <div class="flex-shrink-0">
            <%= render 'shared/svg/error' %>
          </div>
          <div class="ml-4">
            <h3 class="text-sm text-red-800 font-semibold">Registration failed</h3>
            <div class="mt-2 text-sm text-red-700">
              <ul class="list-disc space-y-1 pl-5">
                <% flash[:errors].each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if flash[:success] %>
      <div class="bg-green-50 border border-green-200 text-sm text-green-600 rounded-md p-4 mb-1">
        <div class="flex">
          <div class="flex-shrink-0">
            <%= render 'shared/svg/success' %>
          </div>
          <div class="ml-3">
            <div class="text-sm text-teal-800 font-medium"><%= flash[:success][:message] %></div>
          </div>
        </div>
      </div>
    <% end %>

    <%= form_with method: :post, local: true, html: { class: 'flex flex-col gap-3' } do %>
      <div class="flex flex-col gap-1 hover:text-teal-600">
        <label class="font-medium" for="email">Email</label>
        <input class="c-input" id="email" name="email" type="email">
      </div>
      <div class="flex flex-col gap-1 hover:text-teal-600">
        <label class="font-medium" for="username">Username</label>
        <input class="c-input" id="username" name="username" type="text">
      </div>
      <div class="flex flex-col gap-1 hover:text-teal-600">
        <label class="font-medium" for="password">Password</label>
        <input class="c-input" id="password" name="password" type="password">
      </div>
      <div class="flex flex-col gap-1 hover:text-teal-600">
        <label class="font-medium" for="confirm_password">Confirm Password</label>
        <input class="c-input" id="confirm_password" name="confirm_password" type="password">
      </div>
      <!--      <div class="flex flex-col gap-1 hover:text-teal-600">-->
      <!--        <label class="font-medium" for="captcha">Captcha</label>-->
      <!--        <div class="flex gap-1">-->
      <!--          <input class="c-input" id="captcha" name="captcha" type="text">-->
      <!--          <img class="border-1 border-solid border-slate-700 rounded-sm" src="/panel/captcha">-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="flex justify-between items-center">
        <input class="c-btn" type="submit" value="Signup">
        <a class="c-a" href="/panel/login">Login</a>
      </div>
    <% end %>
  </div>
</div>
